*{
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  margin: 10px;
  width: 250px;
}
button{
  margin-top: 10px;
}
span{
  color: red;
}
.msg{
  color: green;
}
.click{
  color: black;
  background-color: bisque;
  padding: 10px;
  border-radius: 10px;
}
button{
  background-color: aqua;
  border-width: 0;
  padding: 10px;
  border-radius: 10px;
}